# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g parcel-bundler
    - run: npm i
    - run: npm run build
    
    - name: Bash for GitHub Actions
      uses: jcblw/bash@1.0.0
    - run: ls -l && cd dist && ls -l
    
    
    - name: Push directory to another repository
      uses: cpina/github-action-push-to-another-repository@v1.1
      env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        # Source directory from the origin directory
        source-directory: ./dist/
        # Name of the destination username/organization
        destination-github-username: folio-winter
        # Destination repository
        destination-repository-name: folio-winter.github.io
        # Email for the git commit
        user-email: 1085143002@qq.com
      
